<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/hucaloof/LingcodTV/releases/download/2.1.12/Shadowrocket_2.1.12.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://img.vim-cn.com/a6/31420ccdcaec15faaaa91ba99a134bf27fa92a.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://img.vim-cn.com/bd/02973103f918da8b48dae87d65e595a90175c7.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.liguangming.Shadowrocket</string>
				<key>bundle-version</key>
				<string>2.1.12</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Shadowrocket</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
